<div class="full-page login">
    <div class="container fill">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="login-block">
                <h3 class="center-text">Login</h3>
            <form ng-submit="login(credentials)" role="form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email"
                           name="email"
                           id="email"
                           ng-model="credentials.email"
                           required="true"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <lable for="password">Password</lable>
                    <input type="password"
                           name="passwor"
                           id="password"
                           ng-model="credentials.password"
                           required="true"
                           class="form-control"/>
                </div>
                <br/>
                <div class="center-text">
                    <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>